.project {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.project h1 {
  margin-top: 50px;
  color: #1c1427;
  font-size: 35px;
}

.project img {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

.project p {
  font-size: 20px;
  color: #1c1427;
}

.project-details {
  display: flex;
  flex-direction: column;
}

.project-about,
.project-skills {
  max-width: 700px;
}

.project-about h2,
.project-skills h2 {
  color: #1c1427;
  font-size: 28px;
  margin-bottom: 15px;
}

.project-about p,
.project-skills p {
  font-size: 18px;
  line-height: 25px;
  color: #333;
}

.demo-github {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project svg {
  font-size: 60px;
  color: #1c1427;
}

.btn {
  cursor: pointer;
  border-radius: 8px;
  appearance: none;
  font-size: 20px;
  background-color: #1c1427;
  color: #fff;
  margin: 1rem;
  padding: 12px;
  min-width: 100px;
  border: 0px;
}

.btn:hover {
  background-color: #3a2f50;
}
